/* CSS file for Shop Page */
/* All decorations are independent */

body {
    margin: 0;
}

#screen {
    height: 100vh;
    width: 100vw;
    
    display: grid;
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 1% 90% 1% 7% 1%;
}

#scrollable {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    overflow: scroll;
}

.container-fluid {
    margin-bottom: 15px;
    font-size: 30px;
    border: 2px solid lightgray;
    border-radius: 5px;
    min-height: 30px;
}

.container-fluid:first-of-type {
    border: none;
}

.container-fluid:last-of-type {
    padding: 15px;
}

.shopinfo {
    background-color: #F8F8F8;
}


.greetUser {
    display: grid;
    
    grid-template-columns: 78% 2% 8% 2% 10%;
    grid-template-rows: 100%;

    align-items: center;
}

#logout {
    grid-column-start: 3;
    grid-row-start: 1;
}

#logo {
    grid-column-start: 5;
    grid-row-start: 1;
}

img {
    max-height: 100%;
    max-width: 100%;
}



.card {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.card-text {
    font-size: 25px;
}


body > p {
    margin: 30px 15px 15px;
}

h1, p {
    margin: 15px;
}

.thinText {
    font-weight: 300;
}

.shopInfo {
    text-align: justify;
}

#shopmsg {
    font-size: 25px;
    color: rgb(128,128,128);
}




#footer {
    border-top: 1px solid gray;
    padding-top: 5px;
    
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5;

    display: grid;

    justify-items: center;

    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 8% 72%;
}

#active-bar {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 2;
}

#dot4 {
    height: 19px;
    width: 19px;
    background-color: #599adb;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#toNewsFeed {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;
}

#toCalendar {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;
}


#toSearch {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
}

#toShop {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 3;
    grid-row-end: 4;
}

#toAccount {
    grid-column-start: 5;
    grid-column-end: 6;

    grid-row-start: 3;
    grid-row-end: 4;
}

div > a > img {
    height: 100%;
}
