/* 0. All screens */


:root {
    --margin-size: 1%;

    --C-Hive-Black: #000000;
    --C-Hive-Blue: #0241FE;
    --C-Hive-Red: #FF3E3F;
    --C-Hive-White: #FFFFFF;
    --C-Hive-Yellow: #F4FF3E;
}

.screen {

    /* takes full height of current window size */

    height: 100vh;
    display: grid;
}


.swipe {
    place-self: center;
}


.logo {
    place-self: center;
    max-height: 100%;
    max-width: 100%;
}


p {
    font-family: Montserrat, Helvetica, sans-serif;
}

body {

    /* cannot scroll */
    /* not on all browsers atm */
    overflow: hidden;
}



/* 0a. Individual screens */

.splash {
    /* background-color: pink; */

    grid-template-columns: auto 50% auto;
    grid-template-rows: auto 60% auto 3%;
}

.high-school-search {
    /* background-color: lightblue; */

    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 3% 1% 8% 1% 83% 1% 3%;
}

.club-search {
    /* background-color: gold; */

    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 3% 1% 8% 1% 83% 1% 3%;
}




/* 1. Items in splash screen */

#container-center {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}





.top-half {
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    justify-items: center;
    grid-template-rows: 70% 30%;
    grid-template-columns: 100%;
    grid-row-gap: 30px;
}

#main-logo {
    grid-row-start: 1;
    grid-row-end: 2;

    justify-items: center;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}




#welcome-message {
    grid-row-start: 2;
    grid-row-end: 3;

    justify-self: center;
    font-size: 30px;
}




.bottom-half {
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-rows: 17.5% 35% 30% 17.5%;
    grid-template-columns: 100%;
}


#buttons {
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    justify-items: center;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    grid-row-gap: 15px;
}

#signIn {
    width: 50%;
}

#signUp {
    width: 40%;
}




#swipe-message {
    justify-self: center;
    margin-top: 30px;

    grid-row-start: 3;
    grid-row-end: 4;

    font-size: 20px;
}




#zero-to-one {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}





/* 2. Items in high school search screen */

#one-to-zero {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}


#one-to-two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}




.container-search-logo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;
    align-items: center;
    grid-template-rows: 100%;
    grid-template-columns: 90% 10%;
}

.input-group {
    padding-top: 15px;
    width: 98%;
}


.container-results {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;

    height: 100%;
    width: 100%;

    padding: 15px;

    overflow: scroll !important;

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-text {
    padding: 10px;
}

.card-block {
    margin: 5px;
}





/* 3. Items in club search screen */

#two-to-one {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.container-suggestion {
    display: grid;
    height: 100%;
    grid-template-columns: auto 60% auto;
    grid-template-rows: auto 25% auto 25% auto 25% auto;
}


#all-clubs {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#newest-clubs {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#most-popular {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}


.panel-body{
  display:grid;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
  align-items:center;
  margin:auto;
}

.username{
    /*border-top: 0;
    border-left:0;
    border-right: 0;
    color:grey;
    */
    /*padding-left: 3%;
    padding-top:3%;
    padding-bottom:2%;*/
    grid-row-start: 1;
    grid-row-end:2;
    display:grid;
    grid-template-columns: 10% 90%;
    grid-column-gap:2%;
}

.password{
  grid-row-start: 2;
  grid-row-end:3;
  display:grid;
  grid-template-columns: 10% 90%;
  grid-column-gap:2%;
}

.remember{
  grid-row-start: 3;
  grid-row-end:4;
  display:grid;
  justify-items: center;
  color:grey;
}

.button-blk{
  text-align: center;
  border-style:solid;
  border-color:#0241FE;
  border-width: 1px;
  border-radius:25px;
  padding-top:2%;
  padding-bottom: 2%;
  padding-left:5%;
  padding-right:5%;
}

.button-click:hover{
  text-decoration:none;
}

a{

}

.signin{
  display:grid;
  justify-items: center;
  grid-row-start: 4;
  grid-row-end: 5;
  place-center:center;
  font-family:Montserrat, Helvetica, sans-serif;
}

input{
  font-family:Montserrat, Helvetica, sans-serif;
  border-top: 0;
  border-left:0;
  border-right: 0;
  color:grey;
  padding-left: 3%;
  padding-top:3%;
  padding-bottom:2%;
}

.clubForm{
  display:grid;
  grid-template-rows:5% 3% 5% 3% 14% 5% 5% 5% 5% auto;
  grid-template-columns: auto 50% auto;
}
